<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/jquery-3.3.1.min.js"></script>
    <script src="https://api.trello.com/1/client.js?key=50e76438825aabfe0ca80705561a75b3"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
