<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <link rel="stylesheet" href="/stylesheets/settings.css" />
  </head>
  <body>
    <form id="settings_form">
      <label for="desired_cycle_time">Desired Cycle Time (in hours)</label>
      <input type="text" name="desired_cycle_time" id="desired_cycle_time" />

      <label for="desired_ct_list_suffix">Desired Reaction Time List Suffix</label>
      <input type="text" name="desired_rt_list_suffix" id="desired_rt_list_suffix" />

      <label for="desired_ct_list_suffix">Desired Cycle Time List Suffix</label>
      <input type="text" name="desired_ct_list_suffix" id="desired_ct_list_suffix" />

      <label for="completion_list">Desired Completion List</label>
      <p>When a card is moved to this list for the first time, the card is marked as completed.</p>
      <select id="completion_list">
      </select>

      <br />
      <input type="submit" value="OK" />
    </form>
    <script type="text/javascript" src="/javascripts/vendor/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://p.trellocdn.com/power-up.min.js"></script>
    <script type="text/javascript" src="/javascripts/settings.js"></script>
  </body>
</html>
